.box {
    background-color: honeydew;

    &__title {
        font-size: 50px;
        color: darkmagenta;
    }

    &__button {
        background-color: aquamarine;
        color: white;
        border: none;
    }

    &__text {
        font-size: 80px;
        color: skyblue; 
    }
}